<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><strong>BOOK</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/categories" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Category</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/books">All</a>
            <a class="dropdown-item" *ngFor="let category of categories"
              (click)="onClick(category._id)">{{ category.name }}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books"><strong>Books</strong></a>
        </li>
        <li class="nav-item" title="Add new book">
          <a class="nav-link " routerLink="/books/create"><i class="fas fa-plus-circle"
              style="font-size:30px;color:rgb(28, 108, 184);"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <!-- Bind to showLoadingIndicator property in the component class -->
  <div *ngIf="showLoadingIndicator" class="lds-roller"></div>
</div>
