/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* #main { font-family:Verdana; font-size:8px; margin:0 auto;}
#container {margin: 0 auto; width:500px;} */